html{
  margin: 0;
  font-size: 1rem;
}
/*navbar*/
.nav-item{
  float: left;
  display:block;
  text-align: center;
  font-size: 20px;

}
.bs-example{
    margin: 10px;
}
.landing{
  font-size: 30px;
}
body{
  height: 100vh;
  justify-content: center;
  align-items: center;

}
/*about*/
h1,h3{
    font-family: "Montserrat-Bold";
    color:  #12343b;
    text-align: center;
}

.container{
  text-align: left;
}

.about-desc{
  padding-left: 10%;
}

#aboutus h2{margin-bottom: 25px;}
/*contact*/
body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
h1, h2, h3, h4, h5 {
  color: black;
  font-weight: 200; }

h2 {
  font-size: 25px; }

.btn {
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .2rem;
}
.btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn.btn-primary {
    color: #fff;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
      background: skyblue;
      color:black;
}

.site-contact-details, .site-contact-details li {
    padding: 0;
    margin: 0; }

.site-contact-details li {
    list-style: none;
    margin-bottom: 20px; }

.site-contact-details li > span {
      color: #2c3e50;
      letter-spacing: .1em;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 5px;
      display: block; }

.left-space{
  padding-left: 50px;
}
i{
  width: 60px;
  height: 60px;
}
.social-item {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #343B60;
    position: relative;
    border-radius: 50%;
    font-size: 22px;
    margin: 10px 10px;
    padding: 10px;
}

.social-item > i {
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%); }
     
/*--responsive for mobile phone--*/
@media(max-width:720px){
  .landing{
    height:100px;
    width:100px;
    align-items: center;
  }
  .logo{
    height:70px;
    width:20px;
  }
  .nav-item
  {

  }
}
